---
# Install
- name: Add repository
  template:
    src: nginx.repo.j2
    dest: /etc/yum.repos.d/nginx.repo
    owner: root
    group: root
    mode: 0644

- name: Install
  yum:
    name: nginx
    state: present

# SSL
- name: Create SSL directory
  file:
    path: "{{ nginx_ssl_dir }}"
    state: directory
    owner: nginx
    group: nginx
    mode: 0755

- name: Create SSL certificate
  command: >
    openssl req
    -x509
    -nodes
    -days 365
    -newkey rsa:2048
    -keyout {{ nginx_ssl_dir }}/nginx-selfsigned.key
    -out {{ nginx_ssl_dir }}/nginx-selfsigned.crt
    --subj "/C=RU/ST=Moscow/L=Moscow/O=1cepeak's shelter/OU=IT Department/CN={{ nginx_domain }}"
  args:
    creates:
      - "{{ nginx_ssl_dir }}/nginx-selfsigned.crt"
      - "{{ nginx_ssl_dir }}/nginx-selfsigned.key"
  changed_when: false

# Website content
- name: Create website directory
  file:
    path: /var/www/{{ nginx_domain }}/html
    state: directory

- name: Create website content
  template:
    src: index.html.j2
    dest: /var/www/{{ nginx_domain }}/html/index.html

# Configuration
- name: Create config
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/conf.d/default.conf

- name: Validate config
  command: nginx -t
  changed_when: false
  notify:
    - "Restart nginx"

# Run
- name: Check nginx status
  service:
    name: nginx
    state: started
    enabled: yes
